body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  color: rgba(0, 0, 0, 0.6)
}
.img{
  background-image: url("../public/img-2.avif");
  height: auto;
width: auto;
background-size: cover;


}
.home-heading{
  font-size: 68px;
      margin-bottom: -20px;
      letter-spacing: 6px;
}

@media screen and (max-width: 600px) {
  .navbar {
    font-size: 13px;
    text-decoration-style: none;
 
  }

 .home-heading{
  font-size: 48px;
      letter-spacing: 2px;
 }
 
}
